@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Source Code Pro"
  src: local("Source Code Pro"), url("../lib/Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype")
